.header__link {
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
}
/*создала в соответсвии с замечанием дополнительный класс,
присвоила ему характеристики сслыки, отличные от остальных ссылок,
но они, естественно, дублируют харатеристики основного текста данного абзаца.
В связи с этим ранее не задавала дополнительный класс этому элементу,
т.к., теоретически, дополнительных параметров ему указывать
не было необходимости, хватало одного класса*/
