.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000000;
  }

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  color: #000000;
}

.link {
  color: #2f80ed;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__main-illustration {
  margin: 0;
  padding: 0;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  margin: 0;
  padding: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.content {
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;
  padding: 100px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.two-columns {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  text-decoration: none;
  font-weight:normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  text-decoration: none;
  font-weight:normal;
  color: #000000;
 }

.two-columns__paragraph {
  margin: 0;
  padding: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 0;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

.section-title {
  margin: 0;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  color: #000000;
}

.section-subtitle {
  margin: 20px 0px 0px;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  color: #000000;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1100px;
  column-gap: 2%;
  justify-content: center;

  /*
  оставила justify-content: center,
  тк без него при наличии только отступа между элементами в 2%
  и с меньшим количеством элементов в строке (2-3),
  элементы будут располагаться с начала строки

  2% - приемлемый процент для 4-5 элементов в строке,
  т.е. подходит для table и table__theme_dark,
  при проценте отступа 2.5% 5 элементов по 200px шириной в table__theme_dark не умещаются

  теоретически, можно вычислить отступы, но этот вариант НЕ универсальный,
  его нужно прописывать для каждого конкретного случая,
  вычисление производится только по указанному количеству колонн (4) и расстояний между ними (3),
  соответсвенно, для использования его в table__theme_dark эти переменные нужно снова вводить самостоятельно,
  слишком много кода получается и самостоятельной оценки ситуации
  насколько поняла, нет такого инструмента (html/css), который позволил бы браузеру посчитать количество элементов
  и провести вычисления с этими переменными,
  поэтому рациональнее выбирать justify-content: space-between при количестве элементов 4 и более

  вот пример вычисления отступов для table:
  --widthA: 1100px;
  --widthB: 250px;
  column-gap: calc((var(--widthA) - 4 * var(--widthB)) / 3);

  для table__theme_dark,
  --widthA: 1100px;
  --widthB: 200px;
  column-gap: calc((var(--widthA) - 5 * var(--widthB)) / 4);
  */

}


.table__cell {
  width: 250px;
  color: #000000;
  margin: 60px 0 0;
  padding: 0;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000000;
 }

.table__text {
  margin: 20px 0px 0px;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.feynman {
  margin: 0;
  padding: 100px 0px 0px;
  min-height: 750px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feynman__photo {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 867px;
  height: 637px;
  z-index: 0;
}

.feynman__title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  z-index: 2;
  width: 648px;
}

.feynman__subtitle {
  margin: 70px 0px 0px;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  z-index: 2;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 90px 0px;
  position: relative;
  overflow: hidden;
}

.table_theme_dark {
  max-width: 1100px;
  z-index: 2;
}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle_theme_dark {
  color:  #ffffff;
}

.table__cell_theme_dark {
  width: 200px;
  color:  #ffffff;
  margin: 80px 0px 0px;
  list-style: none;
}

.table__heading_theme_dark {
  color:  #ffffff;
}

.table__text_theme_dark {
  color:  #ffffff;
}

.kaufman__triangle {
  margin: 0;
  padding: 0;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.footer {
  margin: 0;
  padding: 60px 0px 40px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}

.footer__column_content_copyright {
  margin: 0;
  padding: 0;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  padding: 20px 0px 16px;
  list-style: none;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  padding: 0;
}
